// vars

$red:#D43219;
$light-grey:#F2EEEB;
$dark-grey:grey;
$yellow:#FCDF9E; 

// font

body {
  font-family: "Trebuchet MS";
}

// colors

.black{
  color: black;
}

.white{
  color: white;
}

.yellow{
  color:$yellow;
}

.red-imp{
  color:$red !important;
}

.dark-grey{
  background-color: $dark-grey;
}

// background-colors

.bg-white{
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-red{
  background-color: $red;
}

// gradiants

.grad-grey{
background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.grad-red{
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #ad1417 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a90329 0%,#ad1417 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a90329 0%,#ad1417 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#ad1417',GradientType=0 ); /* IE6-9 */
}

// colored-borders

.border-yellow{
  border-bottom: 3px solid $yellow;
}

.border-dark-grey{
  border-left: 3px solid $dark-grey;  
}

.border-black{
  border-left: 3px black;
}

// background-image

.bg-image{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

// setting container and foot dimensions

.container{
  width: 800px;
  border: 1px solid black;
}

.footer{
  width: 800px;
}

// indentation for paragraphs

.text-indent{
  text-indent: 25px;
}

// form validation colors

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
  border: 2px solid black;
}

// overwritting bootstrap classes

.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: default;
}
.navbar-nav > li > div {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.navbar-default .navbar-nav > li > div {
  color: rgb(119, 119, 119);
}

#navbar{
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #ad1417 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a90329 0%,#ad1417 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a90329 0%,#ad1417 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#ad1417',GradientType=0 ); /* IE6-9 */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: #EDB72F;
}