// no padding, no margins

.no-margin{
  margin: 0;
}

.no-padding{
  padding:0;
}

// font-sizes

.fz-1-0{
  font-size: 1.0rem;
}

.fz-1-2{
  font-size: 1.2rem;
}

.fz-1-8{
  font-size: 1.8rem;
}

// paddings

.pl-0-5{
  padding-left: 0.5rem;
}

.pr-5{
  padding-right: 5rem;
}

.pl-2{
  padding-left: 2rem;
}

.pl-5{
  padding-left: 5rem;
}

// helpers

.underline{
  text-decoration: underline;
}

.inline-block{
  display: inline-block;
}